.blog-container {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-areas:
        'h s'
        'm s';
}

.blog-aside {
    grid-area: s;
    border-left: 1px dotted gray;
    background-color: hsla(110 80% 50% / 50%);
    text-align: center;
    padding: 0 1em;
    font-size: 1.0rem;

}

.blog-main {
    grid-area: m;
    padding: 0 1em;
}

.blog-header {
    grid-area: h;
    background-color: lightgrey;
    text-align: center;
}