.btn {
    display: inline-block;
    background-color: transparent;
    padding: .3em .5em;
}

.btn-hero {
    background-color: darkviolet;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    border-radius: 5%;
}

.btn-hero:hover {
    color: darkviolet;
    background-color: white;
    border: 2px darkorchid solid;
}

.button {
    background-color: hsla(0 0% 0% / .08);
    border: 1px solid transparent;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;

}

.button:hover {
    background-color: hsla(0, 0%, 0%, .75);
}