:root {
    --linkColor: rgba(9, 89, 9, .7);
    --navColor: hsl(0, 0%, 90%);
    --textColor: hsl(0, 0%, 25%);
    --muteColor: hsl(0, 0%, 95%);
    --bgColor: hsl(0, 0%, 22%);
    --accentColor: hsl(300, 50%, 50%);
}

h1,
h2,
h3 {
    font-family: 'Arial', sans-serif;
}

.bg-cover {
    background-color: antiquewhite;
    background-size: cover;
}

.bg-center {
    background-position: top 700;
}

.bg-attachment {
    background-attachment: fixed;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    color: var(--textColor);
    font-variation-settings: "wdth" 100;
    overflow-x: hidden;
    margin: 0;
}

.py-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-8 {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.px-4 {
    padding-left: 2rem;
    padding-right: 2rem;
}


img {
    display: block;
}

/* 
a {
    text-decoration: none;
}
  */
.image img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center, center
}

.btn-hero {
    background-color: #eee6e6;
    /* background: linear-gradient(rgb(237, 10, 10), #830303); */
    color: #fff;
    padding: 1em;
    font-size: 1rem;
    border: 2px solid gold;
    border-radius: 5%;
    /* background: linear-gradient(rgb(0, 66, 128), #025a1ff1, rgb(0, 255, 149), gold); */
    /* background: linear-gradient(to top left, rgb(0, 66, 128), #025a1ff1, rgb(0, 255, 149), gold); */
    /* background-image: linear-gradient(to right, rgb(0, 225, 0) 5%, rgb(30, 205, 5) 17%, rgb(0, 155, 85) 40%, rgb(2, 55, 1) 85%, #025a1ff1 95% );*/


    /* background: -webkit-gradient(linear, left top, right top, from(rgb(0, 255, 0)), color-stop(5%, rgb(0, 225, 0)), color-stop(17%, rgb(30, 205, 5)), color-stop(40%, rgb(0, 155, 85)), color-stop(85%, rgb(2, 55, 1)), to(#025a1ff1)); */

    background: -webkit-gradient(linear, left top, right top, from(rgb(25, 76, 192)), color-stop(20%, rgb(196, 26,
                    3)), color-stop(40%, rgb(236, 190, 6)), color-stop(60%, rgb(25, 76, 192)), color-stop(80%, rgb(3, 116, 8)),
            to(rgb(196, 26, 3)));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.app {
    min-height: 100vh;
    display: flex;
}

.app-main {
    background-color: var(--muteColor);
    display: flex;
    flex-flow: column;
    min-width: 0%;
    flex: 1 1 0%;
}

.app-main-header {
    border-top: 1px solid var(--accentColor);
    border-bottom: 1px solid hsla(0, 0%, 0%, .075);
    height: 5em;
    padding: 0 1.4rem;
    display: flex;
    align-items: center;
}

.app-main-header--logo {
    font-weight: 700;
    margin: 0;
    max-width: 100%;
    word-spacing: .2em;
    text-transform: uppercase;
    text-shadow: 1px 1px hsla(0 0% 0% / .08);
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    flex: 1;
}

.app-main-header--logo-emphasis {
    margin-right: .2em;
    color: var(--accentColor);
}

.app-main-header--links {
    display: flex;
    align-items: center;
}

.app-main-header--links a {
    margin-left: 1.25em;
    color: var(--textColor);

}

.to-rigth {
    text-align: right;
}