.form-control {
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    line-height: 1.5;
    border: 1px solid var(--accentColor);

}

.input-group {
    display: flex;
    flex-wrap: wrap;
}

.input-group div {
    flex: 1;
    overflow-x: hidden;
}

.contact-container {
    display: grid;
    /* border: 1px red solid; */
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.contact-main {
    /* border: 1px solid green; */
    grid-column: 1 / 3;

}

.contact-header {
    /* border: 1px solid rgb(211, 15, 202); */
    grid-column: 1 / 4;
}

.contact-aside {
    /* border: 1px solid blue; */
    grid-column: 3 / 4;
}

@media (max-width: 786px) {
    .contact-header {
        grid-column: 1 / 4;
        grid-row: 1;

    }

    .contact-main {

        grid-column: 1 / 4;
        grid-row: 2;

    }

    .contact-aside {

        grid-column: 1 / 4;
        grid-row: 3;
    }
}

.form-submit {
    width: fit-content;
    padding: .5rem 1rem;
    background-color: var(--accentColor);
    color: white;
    border-radius: 4%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-submit:hover {
    background-color: white;
    color: var(--accentColor);
}